

:root{
    --yellow:#fabe00;
    --pink:#e63d90;
    --blue:#29b5b2;
}

@media only screen and (min-width: 1250px){
    /* pc */
    :root{
      --width:1200px;
      --mainWidth:1200px;
      --mainMenuFontSize:22px;
      --fontSize:20px;
      --logoWidth:70px;
      --menuDisplay:flex;
      --navDisplay:none;
      --bottomPadding:50px 0px 50px 10px;
      --bottomDirection:row;
      --bottomAlign:flex-start;
      --bottomTextMargin:0px 0px 0px 60px;
      --bottomBtnAlign:flex-end;
      --bottomBtnMargin:0px 10px 0px 10px;
      --menuTextFont:17px;
      --stepBtnMargin:30px; 
      --centerMarginTop:150px;
      --listMarginTop:30px; 
      --musicListMarginTop:30px;
      --listColumns:1fr 1fr 1fr 1fr 1fr; 
      --zemboColumns:1fr 1fr 1fr 1fr;
      --listDisplay:none;
      --contentsItemMargin:15px;
      --contentsItemHeight:140px;
      --contentsItemMarginTop:15px;
      --contentsItemWidth:210px;
      --figureDisplay:flex;
      --musicItemWidth:400px;
      --mainMenuWidth:370px;
      --mainCenterMarginTop:200px;
      --mainCenterMarginBottom:150px;
      --mainBtnPadding:20px 50px 20px 50px;
      --mainBtnMarginBottom:50px;
      --mainBtnHeight:60px;
      --downloagBtnMarginTop:0px;
      --downloagBtnMarginLeft:20px; 
      --speechFontSize: 45px;
      --speechFontSize2: 22px;
      --speechTitleDirection: row;
      --speechBtnMargin: 50px 0px 10px 0px;
      --speechContentTextMargin: 15px;
      --speechMobileDisplay: none;
      --speechPcDisplay: flex;
      --speechMenuBarScale:1;
      --downImgRadius:20px;
      --joinTextWidth:fit-content;
  }

    .contentsLayout:hover{
        margin:0px 15px 30px 15px;
    }

    .sm:hover{
        animation: scale 0.2s forwards;
    }
    
    .mainContentsLayout:hover{
        filter:brightness(0.9);
    }

    .musicList:hover{
        margin-top:0px;
    }
  }

@media only screen and (min-width: 1025px) and (max-width: 1249px) {
    /* pc */
    :root{
      --width:1000px;
      --mainWidth:1000px;
      --mainMenuFontSize:22px;
      --fontSize:20px;
      --logoWidth:70px;
      --menuDisplay:none;
      --navDisplay:flex;
      --bottomPadding:50px 0px 50px 10px;
      --bottomDirection:row;
      --bottomAlign:flex-start;
      --bottomTextMargin:0px 0px 0px 60px;
      --bottomBtnAlign:flex-end;
      --bottomBtnMargin:0px 10px 0px 10px;
      --menuTextFont:17px;
      --stepBtnMargin:30px;
      --centerMarginTop:150px;
      --listMarginTop:30px; 
      --musicListMarginTop:30px;
      --listColumns:1fr 1fr 1fr; 
      --zemboColumns:1fr 1fr;
      --listDisplay:flex;
      --contentsItemMargin:15px;
      --contentsItemHeight:140px;
      --contentsItemMarginTop:15px;
      --contentsItemWidth:210px;
      --figureDisplay:flex;
      --musicItemWidth:400px;
      --mainMenuWidth:303px;
      --mainCenterMarginTop:200px;
      --mainCenterMarginBottom:150px;
      --mainBtnPadding:20px 50px 20px 50px;
      --mainBtnMarginBottom:50px;
      --mainBtnHeight:60px;
      --downloagBtnMarginTop:0px;
      --downloagBtnMarginLeft:20px;
      --speechFontSize: 45px;
      --speechFontSize2: 22px;
      --speechTitleDirection: row;
      --speechBtnMargin: 50px 0px 10px 0px;
      --speechContentTextMargin: 15px;
      --speechMobileDisplay: none;
      --speechPcDisplay: flex;
      --speechMenuBarScale:1;
      --downImgRadius:20px;
      --joinTextWidth:fit-content;
    }

    .contentsLayout:hover{
        margin:0px 15px 30px 15px;
    }
     
    .sm:hover{
        animation: scale 0.2s forwards;
    }

    
    .mainContentsLayout:hover{
        filter:brightness(0.9);
    }

    .musicList:hover{
        margin-top:0px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* tablet */
    :root{
      --width:calc(100vw - 40px);
      --mainWidth:calc(100vw - 40px);
      --mainMenuFontSize:22px;
      --fontSize:20px;
      --logoWidth:70px;
      --menuDisplay:none;
      --navDisplay:flex;
      --bottomPadding:40px 0px 30px 10px;
      --bottomDirection:column;
      --bottomAlign:center;
      --bottomTextMargin:30px 0px 0px 0px;
      --bottomBtnAlign:center;
      --bottomBtnMargin:40px 10px 30px 10px;
      --menuTextFont:17px;
      --stepBtnMargin:30px; 
      --centerMarginTop:150px;
      --listMarginTop:30px; 
      --musicListMarginTop:30px;
      --listColumns:1fr 1fr 1fr; 
      --zemboColumns:1fr 1fr;
      --listDisplay:flex;
      --contentsItemMargin:15px;
      --contentsItemHeight:140px;
      --contentsItemMarginTop:15px;
      --contentsItemWidth:210px;
      --figureDisplay:flex;
      --musicItemWidth:300px;
      --mainMenuWidth:calc((100vw - 30px) * 0.6); 
      --mainCenterMarginTop:200px;
      --mainCenterMarginBottom:150px;
      --mainBtnPadding:12px 20px 12px 20px;
      --mainBtnMarginBottom:50px;
      --mainBtnHeight:50px;
      --downloagBtnMarginTop:20px;
      --downloagBtnMarginLeft:0px;
      --speechFontSize: 45px;
      --speechFontSize2: 22px;
      --speechTitleDirection: row;
      --speechBtnMargin: 30px 0px 10px 0px;
      --speechContentTextMargin: 15px;
      --speechMobileDisplay: none;
      --speechPcDisplay: flex;
      --speechMenuBarScale:1;
      --downImgRadius:20px;
      --joinTextWidth:610px;
    }

    
  }
  
  @media only screen and  (min-width: 550px) and (max-width: 767px) { 
    :root{
      --width:calc(100vw - 30px);
      --mainWidth:100vw;
      --mainMenuFontSize:20px;
      --fontSize:17px;
      --logoWidth:50px;
      --menuDisplay:none;
      --navDisplay:flex;
      --bottomPadding:40px 0px 30px 10px;
      --bottomDirection:column;
      --bottomAlign:center;
      --bottomTextMargin:30px 0px 0px 0px;
      --bottomBtnAlign:center;
      --bottomBtnMargin:40px 10px 30px 10px;
      --menuTextFont:15px;
      --stepBtnMargin:20px; 
      --centerMarginTop:110px;
      --listMarginTop:5px; 
      --musicListMarginTop:-10px;
      --listColumns:1fr 1fr; 
      --zemboColumns:1fr 1fr;
      --listDisplay:flex;
      --contentsItemMargin:10px;
      --contentsItemHeight:calc((45vw - 30px) * 0.8);
      --contentsItemMarginTop:15px;
      --contentsItemWidth:210px;
      --figureDisplay:none;
      --musicItemWidth:300px;
      --mainMenuWidth:calc((100vw - 30px) * 0.65);   
      --mainCenterMarginTop:120px;  
      --mainCenterMarginBottom:90px; 
      --mainBtnPadding:12px 20px 12px 20px;
      --mainBtnMarginBottom:40px;
      --mainBtnHeight:50px;
      --downloagBtnMarginTop:20px;
      --downloagBtnMarginLeft:0px;
      --speechFontSize: 40px;
      --speechFontSize2: 18px;
      --speechTitleDirection: row;
      --speechBtnMargin: 20px 0px 0px 0px;
      --speechContentTextMargin: 15px;
      --speechMobileDisplay: flex;
      --speechPcDisplay: none;
      --speechMenuBarScale:0.8;
      --downImgRadius:15px;
      --joinTextWidth:610px;
    }
}
    

@media only screen and (max-width: 549px) { 
    :root{
      --width:calc(100vw - 30px);
      --mainWidth:100vw;
      --mainMenuFontSize:20px;
      --fontSize:17px;
      --logoWidth:50px;
      --menuDisplay:none;
      --navDisplay:flex;
      --bottomPadding:40px 0px 30px 10px;
      --bottomDirection:column;
      --bottomAlign:center;
      --bottomTextMargin:30px 0px 0px 0px;
      --bottomBtnAlign:center;
      --bottomBtnMargin:40px 10px 30px 10px;
      --menuTextFont:14px;
      --stepBtnMargin:20px; 
      --centerMarginTop:110px;
      --listMarginTop:5px; 
      --musicListMarginTop:-10px;
      --listColumns:1fr 1fr; 
      --zemboColumns:1fr 1fr;
      --listDisplay:flex;
      --contentsItemMargin:5px;
      --contentsItemHeight:calc((45vw - 30px) * 0.8);
      --contentsItemMarginTop:10px;
      --contentsItemWidth:210px;
      --figureDisplay:none;
      --musicItemWidth:300px;
      --mainMenuWidth:calc((100vw - 30px) * 0.65);  
      --mainCenterMarginTop:120px;        
      --mainCenterMarginBottom:90px;
      --mainBtnPadding:12px 20px 12px 20px;
      --mainBtnMarginBottom:40px;
      --mainBtnHeight:50px;
      --downloagBtnMarginTop:20px;
      --downloagBtnMarginLeft:0px;
      --speechFontSize: 30px;
      --speechFontSize2: 17px;
      --speechTitleDirection: column;
      --speechBtnMargin: 0px 0px 0px 0px;
      --speechContentTextMargin: 0px;
      --speechMobileDisplay: flex;
      --speechPcDisplay: none;
      --speechMenuBarScale:0.8;
      --downImgRadius:10px;
      --joinTextWidth:610px;
    }
}


.navMenuBar{
    display: var(--navDisplay);
    width: 100%; 
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right:10px;
}

.navTitleKrr{
    color: #fabe00;
    margin-right:20px;
    font-size: 20px;
    margin-top:2px;
}

.navTitleLulu{
    color: #e63d90;
    margin-right:20px;
    font-size: 20px;
    margin-top:2px;
}

.navTitleEliivy{
    color: #29b5b2;
    margin-right:20px;
    font-size: 20px;
    margin-top:2px;
}

.navMenu{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    min-height: 30px;
    max-height: 30px;
    max-width: 30px;
    min-width: 30px;
    border-radius: 50px;
}
 
.navLine{
    border-radius: 50px;
    width: 15px;
    height: 2px;
    background-color: #fff;
    margin:1.3px;
} 
 
.mainLayout{
    font-size: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;  
} 
.menuBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px;
    min-height: 90px;
    max-height: 90px;
    position: fixed;
    top:0px;
    left:0px;
    z-index: 1000;
    background-color: #fff;
}

.menuBarIn{
    width: var(--width);
    max-width: var(--width);
    display: flex;
    flex-direction: row;
    height: 100%;
}

.logoImg{
    cursor: pointer;
    width: var(--logoWidth);
    height: auto;
    padding: 10px;
}

.menuBarMenu{
    width: 100%; 
    display: var(--menuDisplay);
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}


.goSkBtn{
    cursor: pointer;
    padding: 0px 20px 0px 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color:#fff;
    font-size: 16px;
} 

.goSkKrr{
    background-color: #fabe00;
}

.goSkLulu{
    background-color: #e63d90;
}

.goSkEliivy{
    background-color: #29b5b2;
}

.titleMenuOnKrr{
    cursor: pointer;
    animation: fontColor 0.2s forwards;
    font-weight: 500;
    padding: 20px;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    text-align: center;
}

.titleMenuOnLulu{
    cursor: pointer;
    animation: fontColorLulu 0.2s forwards;
    font-weight: 500;
    padding: 20px;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    text-align: center;
}

.titleMenuOnEliivy{
    cursor: pointer;
    animation: fontColorEliivy 0.2s forwards;
    font-weight: 500;
    padding: 20px;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    text-align: center;
}

@keyframes fontColorLulu{
    from { 
    }
    to{
        color:#e63d90;
    }
}
@keyframes fontColorEliivy{
    from { 
    }
    to{
        color:#29b5b2;
    }
}


@keyframes fontColor{
    from { 
    }
    to{
        color:#fabe00;
    }
}


 
.subMenu{
    box-shadow: 10px 10px 10px #f3f3f390;
    position: fixed;
    padding-top:110px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    border-bottom:1px solid #f3f3f370;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    z-index: 200;
    background-color: #ffffffee;
}

.subMenuOn{
    animation: opOn 0.2s forwards;

}

.subMenuOff{
    animation: opOff 0.2s forwards;
}

@keyframes opOn{
    from {
        opacity: 0;
        transform: translate(0, -100px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0px);
    }
} 
@keyframes opOff{
    0% {
        opacity: 1;
         transform: translate(0, 0px);
    }
    90% {
        opacity: 0;
        transform: translate(0, -90px);

    }100%{
        opacity: 0;
        display: none;
        transform: translate(0, -100px);
    }
}

.subMenuCharacter{
    width: 150px;
    height: auto;
}
 

.sm{    
    cursor: pointer;
    width: 51px;
    max-width: 14vw;
}

@keyframes none{

}

@keyframes scale{
    from {
        scale:1;
    }
    to{
        scale:1.1;
    }
}

.subMenuItemOn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:var(--stepBtnMargin);
    margin-right:var(--stepBtnMargin);
    margin-bottom:20px;
}

.subMenuItemOn img{
    width: 50px;
    max-width: 14vw;
    height: auto;
    margin-bottom:10px;
}

.subMenuItemOn .menuText{
    font-size: var(--menuTextFont);
    font-weight: 700;
    width:100%;
    text-align: center;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuLine{
    width: 100%;
    max-width: calc((100vw - 40px) / 4);
    height: 5px;
    margin-top:10px;
    border-radius: 50px;
}

.subMenuItemOn .lineOn0{
    background-color: #e63d90;
}

.subMenuItemOn .lineOn1{
    background-color: #fabe00;
}

.subMenuItemOn .lineOn2{
    background-color: #00a74d;
}

.subMenuItemOn .lineOn3{
    background-color: #29b5b2;
}


.subMenuItemOff{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:var(--stepBtnMargin);
    margin-right:var(--stepBtnMargin);
    margin-bottom:20px;
}

.subMenuItemOff img{
    width: 50px;
    max-width: 14vw;
    height: auto;
    margin-bottom:10px;
}

.subMenuItemOff .menuText{
    color: #969696;
    font-size: var(--menuTextFont);

    width:100%;
    text-align: center;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.titleMenuOff{
    cursor: pointer;
    padding: 20px;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    text-align: center;
} 
 

.centerLayout{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-top:150px;
    background-color: #fbfbfb;
}

.downloadCenterLayout{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    height: 100%;
    align-items: center;
    justify-content: flex-start; 
    margin-top: 50px;
    position: relative;
    z-index: 20;
    font-family: Noto Sans KR;
}

.mainCenterLayout{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: #fbfbfb;
}

.centerLayoutIn{
    width: var(--width);
    height: 100%;
    margin-top:var(--centerMarginTop);
    position: relative;
    z-index: 120;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mainCenterLayoutIn{
    width: var(--mainWidth); 
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* flex-direction: var(--bottomDirection); */
    margin-top:var(--mainCenterMarginTop);
    margin-bottom:calc(var(--mainCenterMarginBottom) - 50px); 
}



.ctgrLayout{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    margin-bottom:20px;    
    font-size: var(--menuTextFont);
}

.ctgrItem{
    cursor: pointer;
    border-radius: 50px;
    width: 120px;
    height: 40px;
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:5px;
    margin-right:5px;
}


.ctgrItemOnKrr{
    color:#fff;
    border:2px solid #fabe00;
    background-color: #fabe00;
}

.ctgrItemOnLulu{
    color:#fff;
    border:2px solid #e63d90;
    background-color: #e63d90;
}


.ctgrItemOnEliivy{
    color:#fff;
    border:2px solid #29b5b2;
    background-color: #29b5b2;
}





.ctgrItemOff{
    color:#323232;
    border:2px solid #eee;
    background-color: #fff;
}
 

.yellowbox{
    background-color: #fff3c0;
    border: 1px solid #ffa52e30;
    color:#ffa52e;
}

.pinkbox{
    background-color: #ffebeb;
    border: 1px solid #ff888830;
    color:#ff8888;
}

.bluebox{
    background-color: #e8f7f6;
    border: 1px solid #51b7b230;
    color:#51b7b2;    
}



.contentsLayout{
    width: var(--contentsItemWidth); 
    max-width: 45vw;

    
    flex-direction: column;
    

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin:var(--contentsItemMargin);
}


/* 
.contentsImgBox{
    width: 180px; 
    max-width: 180px;
    height: 140px;
    min-height: 140px;
    max-height: 140px;

    width: 180px; 
    max-width: calc(45vw - 14px);
    height: 140px;
    max-height: var(--contentsItemHeight);

    margin-top:var(--contentsItemMarginTop);
    


    cursor: pointer;

    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
} */

.contentsImgBox{
    width: calc(100% - var(--contentsItemMarginTop) * 2);  
    height: 130px;
    /* height: 140px; */
    max-height: var(--contentsItemHeight);
    margin-top:var(--contentsItemMarginTop);

    cursor: pointer;

    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    object-fit: cover;

}

.contentsImgBox img{
    max-width: 300px;
}

.contentsTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 5px 20px 5px;
    font-size: var(--menuTextFont);
    box-sizing: border-box;
    text-align: center;
}

.contentsBtn{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: center;
}

.contentsBtn img{ 
    width: 32px;
    height: 32px;
    margin: 0px 10px 20px 10px;
}

.bottomLayout{
    position: relative;
    z-index: 1000;
    width:100vw;
    min-height: fit-content;
    height: 100%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomLayoutIn{
    width: var(--width);
    flex-direction: var(--bottomDirection);
    padding: var(--bottomPadding);
    display: flex;
    box-sizing: border-box;
    align-items: var(--bottomAlign);
}

.bottomLayoutIn img{
    width: calc(var(--logoWidth) * 0.8);
    height: auto;
}

.bottomText{
    font-family: Noto Sans KR;
    display: flex;
    align-items: var(--bottomAlign);
    flex-direction: column;
    font-size: 12.5px;
    color:#aaa;
    margin:var(--bottomTextMargin);
    line-height: 1.6;
    min-width: fit-content;
}

.bottomBtn{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: var(--bottomBtnAlign);
}

.bottomBtn img{
    width: calc(var(--logoWidth) * 0.6);
    height: calc(var(--logoWidth) * 0.6);
    margin:var(--bottomBtnMargin);
    cursor: pointer;
}
 
.list{
    margin-top:var(--listMarginTop);
    margin-bottom:50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listLayout{ 
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-columns: var(--listColumns);

    place-items: center;
    flex-direction: row; 

    /* background-color: #fbfbfb; */
}


.listTitle{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: var(--listDisplay);
    padding:40px 0px 30px 0px;
    font-size: calc(var(--menuTextFont) + 1px);
}
 
.listTitleElliIvyMusic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    padding:0px 0px 40px 0px;
    font-size: calc(var(--menuTextFont) + 1px);
}
 
.musicListLayout{
    display: flex;
    flex-direction: var(--bottomDirection);
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top:20px;
    margin-bottom:50px;
}

.zemboListLayout{
    width: fit-content;
    display: grid; 
    grid-template-columns: var(--zemboColumns);
}

.musicList{
 
    
    border-radius: 10px;
    margin-top:var(--musicListMarginTop);
    margin-left:30px;
    margin-right:30px;
    margin-bottom:50px;

    
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.musicItem{
    cursor: pointer;
    position: relative;
    overflow: hidden;

    
    width: calc( var(--musicItemWidth));
    height: calc(var(--musicItemWidth) * 0.6); 
    border-radius: 10px;
    object-fit: cover;
}
 

.musicTitle{
    padding-top:40px;
    padding-bottom:20px;
    font-size: 22px;
}


.dialogBg{
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dialogLayout{
    min-width: fit-content;
    max-width: 90vw;
    background-color: #fff;
}

.dialogStatusBar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

.dialogStatusTitle{
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

.dialogStatusCancel{
    min-width: fit-content;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
}

.dialogImgBox{
    min-width: fit-content;
    max-height: calc(90vh - 100px);
    background-color: #fff;
    overflow: scroll; 
}
 

.dialogImgBox img{
    width: fit-content;
    max-width: 90vw;
    height: auto;
}

.mainContentsLayout{
    font-size: calc(var(--mainMenuFontSize) - 6px);
    cursor: pointer;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: var(--mainMenuWidth);
    min-width: var(--mainMenuWidth);
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    margin:15px;
    box-shadow: 3px 3px 10px #eee;
}

.mainContentsLayout img{
    height: calc(var(--mainMenuWidth) * 0.8);
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.mainContentsTitle{
    font-size: calc(var(--mainMenuFontSize) - 1px);
    margin-top:calc(var(--mainBtnHeight) - 20px);
    margin-bottom:calc(var(--mainBtnHeight) - 50px);
}

.mainContents{
    font-family: Noto Sans KR;
    height: var(--mainBtnHeight);
    margin:10px 0px 20px 0px;
    padding:0px 20px 0px 20px;
    color:#5d5d5d;
    display: flex;
    text-align: center;
}

.mainContentsBtn{
    font-family: Noto Sans KR;
    padding: var(--mainBtnPadding);
    margin-bottom: var(--mainBtnMarginBottom);
    border-radius: 100px;
    color: #fff;
    font-weight: 700;
}


.navDialog{
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navDialogOn{
    animation: navMenuOn 0.5s forwards;
}

.navDialogOff{
    animation: navMenuOff 0.2s forwards;
}

.navDialogStatusBar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:18px;
}

.navDialogImgBar{
    width:100%;
    padding-left:15px;
}
 
.bgPink{
    background-color: var(--pink);
}

.bgYellow{
    background-color: var(--yellow);
}

.bgBlue{
    background-color: var(--blue);
}
.colorPink{
    color: var(--pink);
}

.colorYellow{
    color: var(--yellow);
}

.colorBlue{
    color: var(--blue);
}

.navDialogStatusCancel{
    margin-right:25px;
    margin-bottom:7px;
    display: flex; 
    position: relative;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    min-height: 30px;
    max-height: 30px;
    max-width: 30px;
    min-width: 30px;
    border-radius: 50px;
}

 
 
.navCancelLine1{
    position: absolute;
    border-radius: 50px;
    width: 15px;
    height: 2px;
    background-color: #fff; 
    rotate: 45deg;
}  
.navCancelLine2{
    position: absolute;
    border-radius: 50px;
    width: 15px;
    height: 2px;
    background-color: #fff; 
    rotate: -45deg;
} 
 







@keyframes navMenuOn{
    from {
        transform: translate(100px, 0px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
} 

@keyframes navMenuOff{
    from {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    to {
        opacity: 0;
        transform: translate(100px, 0px);
        display: none;
    }
} 


.navDialogMenu{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding:20px 20px 0px 20px;
    overflow: scroll;
    scrollbar-width: none;
    box-sizing: border-box;
    line-height: 2;
}

.navDialogMenu::-webkit-scrollbar{
    display: none;
}

.navDialogMenuLayout{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding:15px;
    box-sizing: border-box;
}
 

.navDialogMenuTitleOff{
    color:#323232;    
}
 

.navDialogMenuStep{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding-top:15px;
    padding-bottom:5px;
    align-items: center;
}

.navDialogMenuStepOn{
    color:#fff;
    border-radius: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 70px;
}

.navStepLuluOn{
    background-color: var(--pink);
}

.navStepKrrOn{
    background-color: var(--yellow);
}

.navStepEliivyOn{
    background-color: var(--blue);
}


.navDialogMenuStepOff{
    padding:5px 10px 5px 10px;
    color:#5d5d5d;    
}

.navCharacter{
    width: 150px;
    height: auto;
}

.navCharacterLayout{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.stars{
    display: var(--figureDisplay);
    animation: rotate 5s Linear infinite;
    width: 50px;
    height: auto;
    position: fixed;
    bottom:250px;
    left:250px;
    z-index: 15;
}

.circle1{
    display: var(--figureDisplay);
    animation: rotate2 12s Linear infinite;
    width: 200px;
    height: auto;
    position: fixed;
    bottom:50px;
    left:50px;
    z-index: 15;
}

.circle2{
    display: var(--figureDisplay);
    animation: rotate 10s Linear infinite;
    width: 150px;
    height: auto;
    position: fixed;
    bottom:240px;
    right: 50px;
    z-index: 15;
}
 


@keyframes rotate{
    from {
        transform: rotate(0deg),
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate2{
    from {
        transform: rotate(0deg),
    }
    to {
        transform: rotate(-360deg);
    }
} 

.downloadBtnBar{
    width: var(--width);
    position: relative;
    z-index: 120;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: var(--speechTitleDirection);
    margin: var(--speechBtnMargin);
}

.downloadBtn img{
    width: 100px;
    height: 100px;
}

.downloadBtn{
    align-items: center;
    background-color: #fff;
    border:1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 3px 10px 10px #eee;
    color: #5d5d5d;
    flex-direction: column; 
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: var(--downloagBtnMarginTop);
    padding: 15px 50px;
    width: 120px;
}

.downloadBtn:hover{
    filter: brightness(0.97);
}

.downloadBtn:hover img{
    animation: scaleReturn 0.5s forwards;
} 
 
@keyframes scaleReturn{
    0% {
        scale:1;
    }
    30%{
        scale:1.1;
    }
    100%{        
        scale:1;
    }
} 

.speechMenuBar{
    scale:var(--speechMenuBarScale);
    display: flex;
    flex-direction: row;
    background-color: #eee;
    color:#c6c1b7;
    border-radius: 50px;
    margin-top: 50px;
}

.speechMenuBarOn{
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #fff;
    border:3px solid #fabe00;
    color:#fabe00;
    cursor: pointer;
}

.speechMenuBarOff{
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border:3px solid #eee;
    cursor: pointer;
}

 

.downloadBtnText {
    border: 1px solid #eee;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom:5px;
    padding: 7px 15px;
}

.speechTitlt {
    color: #323232;
    flex-direction: var(--speechTitleDirection);
    font-size: var(--speechFontSize);
    justify-content: center;
    line-height: 1.3;
    margin-bottom: 30px;
    margin-top: 100px;
    width: 100%;
    font-weight: 700;
}
.downloadBtn, .speechTitlt {
    display: flex;
    text-align: center;
}

.speechTitlt div:nth-child(1){
    margin-right: var(--speechContentTextMargin);
} 

.speechContent {
    color: #969696;
    font-size: var(--speechFontSize2);
    font-weight: 500;
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
}

.speechContentPc{
    display: var(--speechPcDisplay);
}

.speechContentMobile{
    display: var(--speechMobileDisplay);
}


 

.speechVideo {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    width: 100%;
}

.speechVideo video {
    border-radius: 20px;
    margin-top: 40px;
    max-width: 90%;
    width: 700px;
    height: auto; 
}
 
.speechDownload{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.downStep{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.downLine{
    width:80vw;
    max-width: 550px;
    margin-bottom:30px;
    margin-top:20px;
    height: 2px;
    border-top:1px dotted #dcdcdc   
}

.downStepTitle{
    height: 25px;
    width: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #fabe00;
    color:#fff;
    margin-bottom:15px;
    font-weight: 500;
    margin-top:10px;
}

 

.downStepContents{
    margin-bottom:50px;
    font-size: 16px;
    width:100%;
    max-width: 100%;
    padding:0px 20px;
    box-sizing: border-box;
    text-align: center;
}

.downStepImgBox{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    /* margin-bottom:50px; */
    width:500px;
    max-width: calc(90vw - 20px);
    margin:0px 0px 50px 0px;
    height: auto;
}

.downStepImgBox img{
    height:fit-content;
    border-radius:var(--downImgRadius);
    border:1px solid #dcdcdc;    
}

.joinContents{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: flex-start;
    width:500px;
    max-width: calc(90vw - 20px);
    box-sizing: border-box;
    margin-bottom:50px;
}

.joinContentsTitle{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom:10px;
}

.joinContentsText{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding:10px 10px 0px 10px;
    box-sizing: border-box;
}

.joinContentsText div:nth-child(1){
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-right:10px;
    justify-content: center;
    background-color: #fabe00;
    color:#fff;
    margin-top:2px;
}

.watermarkImgPc{
    font-size: 11px;
    border:1px solid #dcdcdc;
    padding:2px;
    color:#969696;
    margin-left:5px;
    text-align: center;
    margin-left:5px;
    margin-top:-1px;
    cursor: pointer;
    display: var(--speechPcDisplay);
}

.watermarkImgMobile{
    width: fit-content;
    font-size: 11px;
    border:1px solid #dcdcdc;
    padding:2px;
    color:#969696;
    margin-left:5px;
    text-align: center;
    margin-left:30px;
    margin-top:10px;
    cursor: pointer;
    display: var(--speechMobileDisplay);
}

.watermarkDialog{
    position: fixed;
    bottom:0px;
    z-index: 500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffffcc;
}

.watermarkDialogCancel{
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #fff;
    border:1px solid #aaa;
    box-sizing: 3px 3px 3px #aaa;
    cursor: pointer;
}

.watermarkDialogImg{
    width: 400px;
    max-width: 90%;
    height: auto;
    border:1px solid #aaa;
    box-sizing: 3px 10px 20px #aaa;
    border-radius: 10px;
}

/* .downStepLayout{
    display: flex;
    width: 100%;
    flex-direction: var(--bottomDirection);
    align-items: var(--bottomAlign);
    justify-content: center;
} */

.downStepLayout{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.joinMsg{
    
}